@import url("https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap"); /* The Scarlett Letter font */
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap"); /* Author/Introduction (typewriter/printing press) font */
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700"); /* Paragraph font */


body {
    min-width: 1800px;
    height: 50%;
    width: 100%;
    background: #202030;
    background-image: url(sectionPhotos/BostonMap.jpg);
    overflow-x: hidden;
    color: #fff;
}


p{ /* The words and spacing between groups of text */
    margin-top: 1vw;
    font-size: 1.3vw;
    text-indent: 30px;
    font-family: 'Roboto Slab', serif;
    line-height: 2vw;
    text-align: justify;
}


/* the scrolling menu *************************************************/
.timeline { 
  margin: 0;     
  padding: 0;
  list-style: none;
  position: fixed;
  left: 5%;
  top: 5%;
  width: 1px;
  height: 90%;
  background: #464c63;
    z-index: 0;
}
.timeline .bar {    /* the scrolling yellow bar */
  position: absolute;
  width: 1px;
  background-color: #e84545;
  top: 0;
  left: 0;
  z-index: 0;
}


.node {
  position: absolute;
  width: .3vw;
  height: .4vw;
  background: #FFF;
  left: -1px;
  z-index: 1;
  cursor: pointer;
  border-radius: 3px;
}
.node:hover {
  background: #e84545;
}
.node:hover span {
  opacity: 1;
}
.node:before {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  left: -3px;
  top: -3px;
}
.node span {
  transition: all 0.4s ease-out;
  text-transform: uppercase;
  right: 4px;
  top: -16px;
  color: #FFFFFF;
  position: absolute;
  padding: 10px;
  white-space: nowrap;
  font-size: 1.6vw;     
  font-weight: 200;
  font-family: "Montserrat";
  opacity: 0;
}


/* stagnant title, author, and publication information ***********************/


.title {
    position: absolute;
    top: 90px;
    left: 61%;
    perspective: 400;
    padding-left: 17px;
    font-weight: bold;
    font-size: 8vw;
    color: #e84545;
    letter-spacing: .5vw;
}

.author {
    font-size: 2.5vw;
    font-family: 'Special Elite', cursive;
    margin-top: 10%;
    color: #903749;
}



/* Title animation */


/* the red line before the title *********/
.title:before {
  content: '';
  display: block;
  position: absolute;
  height: 56%;
  width: .4vw;
  background: #903749;
  top: 5%;
  left: 0;
  opacity: 1;
  transform: translateX(-150px);
  -webkit-animation: title-border-slide-in 0.35s ease-out forwards;
          animation: title-border-slide-in 0.35s ease-out forwards;
}

/* title animation *********/
.title .title-word {
  font-family: 'Ribeye Marrow', cursive;
  opacity: 0;
  transform-origin: bottom center;
  transform: rotateX(-90deg);
}
.title .title-word:nth-child(1) {
  -webkit-animation: roll-in 0.15s 0s ease-out forwards;
          animation: roll-in 0.15s 0s ease-out forwards;
}
.title .title-word:nth-child(2) {
  -webkit-animation: roll-in 0.15s 0.175s ease-out forwards;
          animation: roll-in 0.15s 0.175s ease-out forwards;
}
.title .title-word:nth-child(3) {
  -webkit-animation: roll-in 0.15s 0.35s ease-out forwards;
          animation: roll-in 0.15s 0.35s ease-out forwards;
}
.title .title-word:nth-child(4) {
  -webkit-animation: roll-in 0.15s 0.525s ease-out forwards;
          animation: roll-in 0.15s 0.525s ease-out forwards;
}
@-webkit-keyframes title-border-slide-in {
  0% {
    transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes title-border-slide-in {
  0% {
    transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes roll-in {
  0% {
    transform: rotateX(-90deg);
    opacity: 1;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}
@keyframes roll-in {
  0% {
    transform: rotateX(-90deg);
    opacity: 1;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}






/* parallax ********************************************************************/

.parallax {
  -webkit-perspective: 100px;
          perspective: 100px;
    height: 70vw;    /* The size/length of the Parallax window ITSELF, including where the town/border will end, as in how far up/down it will go */
    overflow-x:hidden;
    overflow-y: auto; 
    position: absolute;
    width: 100%;
  /*  border-bottom: 1vw solid #1a1a1a; */
}



.parallax__layer img {    /* Keeps everything level horizontally */
    display: block;
    position: absolute;
     bottom: 0;
}


.parallax__layer__0 {
  -webkit-transform: translateZ(-300px) scale(4);
          transform: translateZ(-300px) scale(4);
    
}

.parallax__layer__1 {
  -webkit-transform: translateZ(-250px) scale(3.5);
          transform: translateZ(-250px) scale(3.5);
}


.parallax__layer__2 {
  -webkit-transform: translateZ(-200px) scale(3.1);
          transform: translateZ(-200px) scale(3.1);
    margin-top: 150%;
    margin-left: 13%;
  
}

.parallax__layer__3 {
  -webkit-transform: translateZ(-150px) scale(2.5);
          transform: translateZ(-150px) scale(2.5);
        margin-left: 10.5%;
        margin-top: 0%;


}

.parallax__layer__4 {
  -webkit-transform: translateZ(-125px) scale(2);
          transform: translateZ(-125px) scale(2);
        margin-left: 15%;
        margin-top: -10%;

}

.parallax__layer__5 {
  -webkit-transform: translateZ(-50px) scale(1.5);
          transform: translateZ(-50px) scale(1.5);
    margin-left: 10%;
    margin-top: 250%;
}

.parallax__layer__6 {
  -webkit-transform: translateZ(0px) scale(1);
          transform: translateZ(0px) scale(1);
    margin-left: 0%;
    margin-top: 180%; /* Puts space between layer 4 of the parallax and the introduction paragraphs */
}









/* parallax intro paragraph *******************************************************/


.paragraph1Title {
        font-family: 'Special Elite', cursive;
        color: #fff;
        font-size: 4vw;
    margin-left: 8%;
    margin-bottom: 3%;
}
.introductionParagraph1 {
    margin-top: 300% /* moves the red box of into words up and down */
    position: absolute;
    width: 40vw;
    height: 40vw;
    line-height: 3vw;
-webkit-box-shadow: 0px 0px 50px 25px rgba(0,0,0,0.60); 
box-shadow: 0px 0px 50px 25px rgba(0,0,0,0.60);
-moz-box-shadow: 0px 0px 50px 25px rgba(0,0,0,0.60);
    padding: 3vw;
    background-image: url(sectionPhotos/redFabric.jpg);
    overflow-y: auto;  
}





/* The Scarlet Letter glowing words animation *************************************************/



.titleGlow {
    animation: glow 15s infinite alternate;
}

@keyframes glow {
    to {
        text-shadow: 0 0 8px rgba(0, 0, 0, 1);
        color: rgba(232, 69, 69, .8)
    }
}

.titleGlow {
    font-size: 2vw;
    font-weight: bold;
}






/* hoverlink animations *************************************************/

a {
    color: #FFFFFF;
    display: inline;
    border-bottom: .2vw solid rgba(255, 255, 255, .5);
    text-decoration: none;
    font-weight: bold;
  
}

a.shadow:hover {

    background-color: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: glowingText .8s infinite alternate;

}

@keyframes glowingText {
  from {
    opacity: 1;
  }

  to {
    opacity: .7;
  }
}

.introductionParagraph2 {
    margin-left: 10%;
    position: absolute;
    width: 40vw;
    height: 40vw;
    line-height: 3vw;
-webkit-box-shadow: 0px 0px 50px 25px rgba(0,0,0,0.60); 
box-shadow: 0px 0px 50px 25px rgba(0,0,0,0.60);
-moz-box-shadow: 0px 0px 50px 25px rgba(0,0,0,0.60);
    padding: 3vw;
    background-image: url(sectionPhotos/redFabric.jpg);
    overflow-y: auto;  
}

.paragraph2Title {
        font-family: 'Special Elite', cursive;
        color: #fff;
        font-size: 4vw;
margin-left: 10%;
margin-top: -130%;
    margin-bottom: 3%;
}

.introductionWords {
    text-indent: 30px;
    font-size: 1.5vw;
    text-align: justify;
    font-family: 'Special Elite', cursive;
    color: #fff;
    margin-bottom: 1vw
}




/* Setting Words ******************/ 

.settingSection { 
    position: absolute;
    margin-top: 180%;  /*  this pushes down all the bottom section with the setting details */
    font-family: 'Special Elite', cursive;
    font-size: 1.7vw;
    width: 100%;
}

.setting{
    margin-left: 15%;
    margin-top: -50%;
    margin-bottom: -1%;
    font-size: 2.4vw;
}

.settingWords {
    margin-left: 25%;
}


.scrollDown {
    animation: glow 1.5s infinite alternate;
    margin-left: 15%;
    margin-top: 2%;
    margin-bottom: 20%;
    color: #e84545;
    font-weight: 500;
    font-size: 1.9vw;
}

@keyframes glow {
    to {
        text-shadow: 0 0 1vw rgba(255, 255, 255,.8);
        color: rgba(232, 69, 69, .8)
    }
}



.salemPhoto {
    position: absolute;
}

/* Parallax Cover *******************/

.parallax__cover {
    background: #000000;
    display: block;
    position: absolute;
    width: 100%;
    height: 200vw;  /* what pushes down the top banner */
    top: 100%; /*What moves the cover from visible to not, and seperates it from the city divider*/
}












@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700");

/* a.white-mode, a.white-mode:link, a.white-mode:visited, a.white-mode:active {
  position: fixed;
  font-family: 'Roboto Slab', serif;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  left: 40px;
  bottom: 0px;
  font-size: 12px;
  text-decoration: none;
  background: #f7f7f7;
  padding: 4px 8px;
  z-index: 10;
  color: #3B425A;
}
a.white-mode:hover, a.white-mode:link:hover, a.white-mode:visited:hover, a.white-mode:active:hover {
  background: #7B46FE;
  color: #FDFA75;
} */


.container { /* all the sections */
    padding-left: 200px;
    margin-top: 69.5%;  /* what moves the sections section up and down */
    position:absolute;
    background-color: #0c0c0c;
    margin-left: -8%;
}

section { /* individual sections */
  border-top: 2px solid #c2c2c2;
  padding: 3%;
  font-size: 16px;
  font-weight: 200;
  font-family: 'Roboto Slab', serif;
    margin-top: 5%;
}

h1 {
    font-size: 5vw;
    font-weight: 400;
    color: #53354a;
    position: relative;
    font-family: 'Special Elite', cursive;
    word-spacing: 100vw; /* makes each wod start on a new line */
    text-align: center; 
}
h1:after {
margin-top: 3%;
    margin-left: 4%;
  content: "";
  display: block;
    border-top: 1px solid #464c63;
  width: 40%;
}


h2 {
  font-size: 36px;
  font-weight: 100;
  color: #903749;
  position: relative;
    text-align: center;
}

.map {
    float: right;
    margin-left: 3%;
    margin-bottom: 3%;
    margin-top: 3%;
    width: 50%;
    filter: brightness(20%);
}



.contact { /* The email contact information */
    font-size: 1.1vw;
    font-weight: 250;
    letter-spacing: .1vw;
    position: fixed;
    margin-left: 25%;
    bottom: 3vw;
}






/* Smaller Screens ********************************/
@media screen and (max-width: 700px) {
    
    .frame {
        visibility: hidden;
        height: 105vw;
        width: 70vw;
}
    

    
}



